[submodule "awesompd"]
	path = awesompd
	url = https://github.com/furry-robot/awesompd
[submodule "tyrannical"]
	path = tyrannical
	url = https://github.com/furry-robot/tyrannical
[submodule "lain"]
	path = lain
	url = https://github.com/furry-robot/lain
